.galerie-bg {
  /* background: #1b353e !important; */
  background-image: linear-gradient(
      0deg,
      rgba(30, 30, 30, 0.4) 30%,
      rgba(30, 30, 30, 0.4) 30%
    ),
    url('/img/header-img.jpg');
  background-size: cover;
}

.galerie-section {
  padding-top: 2rem;
}

.galerie-desc {
  padding-top: 6rem;
  padding-bottom: 0;
}

.row {
  padding-bottom: 40px;
}

img {
  box-shadow: 10px 10px 13px #000000;
}

.galerie-rs {
  padding-bottom: 3%;
}
